/* FONTS */
@font-face {
  font-family: 'Rubik';
  src: url(../fonts/Rubik-VariableFont_wght.ttf);
}



/* HTML PAGE */
html {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  
  background: #9971FF;
}

body {
  margin: 0px;
}

/* HEADER */
/* HEADER */
/* HEADER */
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
  margin: 5px;
  /* border: 2px solid red; */
}
.title {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-size: 10px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

#btn_user_profile {
  position: absolute;
  right: 10px;
  height: 18px;
  width: 18px;
  background-image: url(../icons/profile.svg);
  background-color: transparent;
  background-size: cover;
  border: 0px;
  cursor: pointer;
}
#btn_user_profile:active {
  transform: scale(0.95);
}

/* MESSAGES */
/* MESSAGES */
/* MESSAGES */
.chat-message {
  display: flex;
  align-items: flex-start;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin: 5px;
}
.chat-message-content {
  flex-grow: 1;
}
.chat-message-username {
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 2px;
}
.chat-message-text {
  color: #333;
  margin-top: 2px;
  margin-bottom: 2px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.user-message {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.user-message .chat-message-content {
  text-align: right;
}
.user-message .chat-message-username {
  margin-left: 10px;
}
.chat-message-username .time {
  font-weight: normal;
  font-size: smaller;
  color: gray;
  margin-right: 4px;
  margin-left: 4px;
}
.chat-message-username .pubpri {
  font-weight: normal;
  font-size: smaller;
  margin-right: 4px;
}

/* WRITE COMMENT */
/* WRITE COMMENT */
/* WRITE COMMENT */
.write-comment {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}
#text_field {
  height: 20px;
  width: 70%;
  border: 1px transparent;
  background: #FFFFFF;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}
#publish_btn {
  margin: auto;
  height: 22px;
  border-radius: 5px;
  border: 1px transparent;
  background-color: white;
  font-family: 'Rubik';
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
  cursor: pointer;
}
#publish_btn:active {
  transform: scale(0.95);
}

/* PUBLIC PRIVATE TOGGLE */
/* PUBLIC PRIVATE TOGGLE */
/* PUBLIC PRIVATE TOGGLE */
.public_private {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  height: 25px;
  margin-left: 10px;
  /* border: 1px solid red; */
}
.public_private_description {
  height: 9px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 9px;
  color: #FFFFFF;
  /* border: 1px solid red; */
  margin-right: 10px;
}

#togBtn {
  position: relative;
  cursor: pointer;
  margin: 0px;
  margin-bottom: 1px;
  /* display: inline-block; */
  /* margin: 1rem auto; */
  width: 20px;
  height: 12px;
  border-radius: 25px;
  outline: none;
  background-color: #ccc;
  -webkit-appearance: none;
  transition: background .3s rgba(0,0,0,0.15);
}
#togBtn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: white;
  transition: left .3s;
}

#togBtn:checked {
  background-color: rgb(141, 221, 141);
}

#togBtn:checked::after {
  left: 70%;
}

/* LINE */
/* LINE */
/* LINE */
.line {
  border: 1px solid white;
  width: 100%;
}

/* PLAYER */
/* PLAYER */
/* PLAYER */
.player {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  /* overflow: hidden; */
  /* border: 2px solid blue */
}
.buttons {
  display: flex;
  float: left;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red */
}
.minus_ten {
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../icons/minus10.svg);
  background-color: transparent;
  background-size: cover;
  border: 0px;
  cursor: pointer;
  /* border: 2px solid black */
}
.play_pause {
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../icons/play.svg);
  background-color: transparent;
  background-size: cover;
  border: 0px;
  cursor: pointer;
  /* border: 2px solid black */
}
.pause_play {
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../icons/pause.svg);
  background-color: transparent;
  background-size: cover;
  border: 0px;
  cursor: pointer;
  /* border: 2px solid black */
}
.plus_thirty {
  width: 25px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../icons/plus30.svg);
  background-color: transparent;
  background-size: cover;
  border: 0px;
  cursor: pointer;
  /* border: 2px solid black */
}
.btn {
  transition: transform 0.1s;
}
.btn:active {
  transform: scale(0.95);
}
.informations {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  gap: 7px;
  /* float: left; */
  width: 65%;
  margin-left: 10px;
  /* border: 2px solid red */
  overflow: hidden;
}
.episodeTitle {
  margin: 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  white-space: nowrap;
  animation: myAnim 10s linear 1s infinite alternate none;
  /* border: 2px solid red; */
}
.current_timecode {
  margin: 0;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 9px;
  color: #FFFFFF;
  /* border: 2px solid black */
}


@keyframes myAnim {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
    /* -100% + la taille de la div */
	}
}





#messages::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

/* Cible la poignée de défilement */
#messages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e1eefc;
  margin-right: -5px;
}

/* Effet de hover sur la poignée de défilement */
#messages::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}



.highlight {
  background-color: yellow;
}

.chat-message {
  display: flex;
  align-items: flex-start;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.chat-message-content {
  flex-grow: 1;
}

.chat-message-username {
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 2px;
}

.chat-message-text {
  color: #333;
  margin-top: 2px;
  margin-bottom: 2px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.user-message {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.user-message .chat-message-content {
  text-align: right;
}

.user-message .chat-message-username {
  margin-left: 10px;
}

.chat-message-username .time {
  font-weight: normal;
  font-size: smaller;
  color: gray;
  margin-right: 4px;
  margin-left: 4px;
}

.chat-message-username .pubpri {
  font-weight: normal;
  font-size: smaller;
  margin-right: 4px;
}

.chat-container {
  height: 300px;
  overflow-y: auto;
}

.commentbox {
  position: relative;
  top: -5px;
  border-radius: 20px;
  border: 1px transparent;
}

.private {
  margin-left: 200px;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');

.container-mod {
  margin-top: -10px;
  position: relative;
}

.options-container {
  position: relative;
  display: inline-block;
}

.options {
  display: none;
  position: absolute;
  left: -100px;
  top: 10;
  padding: 8px;
  background: rgb(131, 168, 236);
  border-radius: 4px;
  z-index: 1;
}

.options-button {
  background: none;
  border: none;
  padding: 0;
  font-size: 20px;
  color: #333;
}

.options-button:focus+.options {
  display: block;
}


.edit,
.delete {
  background: rgb(131, 168, 236);
  padding: 8px;
  margin-right: 8px;
  font-size: 14px;
  color: #333;
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.edit:hover,
.delete:hover {
  background: rgb(86, 135, 228);
  color: #fff;
  cursor: pointer;
}

.edit i,
.delete i {
  margin-right: 8px;
  font-size: 14px;
}

.edit span,
.delete span {
  font-size: 14px;
}

.options-button:active {
  transform: scale(0.87);
}