

#btn_user_profile{
  /* display: block; */
  height: 30px;
  width: 30px;
  border-radius: 100%;
  font-size: 18px;
}
body {
  position: inherit;
  display: block;
  flex-direction: column;
  justify-content: center;
  background: #9971FF;
  font-family: "Lato", sans-serif;
  width: 400px;
  height: 230px;
}




.chat-message {
  display: flex;
  align-items: flex-start;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.chat-message-content {
  flex-grow: 1;
}

.chat-message-username {
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 2px;

  
}

.chat-message-text {
  color: #333;
  margin-top: 2px;
  margin-bottom: 2px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}


.user-message {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.user-message .chat-message-content {
  text-align: right;
}

.user-message .chat-message-username {
  margin-left: 10px;
}

.chat-message-username .time {
  font-weight: normal;
  font-size: smaller;
  color: gray;
  margin-right: 4px;
  margin-left: 4px;
}

.chat-message-username .pubpri {
  font-weight: normal;
  font-size: smaller;
  margin-right: 4px;
 
}

.chat-container {
  height: 300px;
  overflow-y:auto;}


h3{
  position: absolute;
  width: 37px;
  height: 12px;
  left: calc(50% - 37px/2);
  top: 5px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.10em;

  color: #FFFFFF;

}


.player{
  border-top: 1px solid rgb(255, 255, 255);
  flex-direction: row;
  overflow: hidden
}

.buttons{
  display: flex;
  float: left;
  justify-content: flex-start;
  width: 40%;
  height: 80px;
  align-items: center;
}

.minus_ten {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0); 
  background-image: url(../icons/minus10.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent
}
.play_pause {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0); 
  background-image: url(../icons/play.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent
}


.pause_play {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0); 
    background-image: url(../icons/pause.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent
}
.plus_thirty {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0); 
  background-image: url(../icons/plus30.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent
}

.informations{
  display: flex; 
  float: left;
  flex-direction: column;
  width: 60%;
}
.episodeTitle{
  
  font-size: 14px;
  height: 50%;
  color: #FFFFFF;
  
}

.current_timecode{
  font-size: 13px;

  height: 50%;
  color: #FFFFFF;
}


.myButton {
 
  transition: transform 0.1s;
}




.myButton:active {
  transform: scale(0.95);
}